body{
	background:#FFC0CB;
	display: flex-inline;
	justify-content: center;
	align-items:center;
	height: 100vh;
	
}

*{
	font-family: Book Antiqua;
	box-sizing: border-box;	
	padding: 1;
    margin: 1;
   
}
.image{
width:500px;

margin-left:200px;
margin-top:15px;
}

.form{
	
	width:500px;
	height: 295px;

	border:2px solid #ccc;
	padding:30px;
	margin-top:25px;
	margin-left:399px;
	background:#fff;
	border-radius:15px;
	justify-content: center;
}

.login{
	text-align:center;
	font-weight:bold;
	font-size:25px;
	margin:200px;
	
}

.label{
	color:#888;
	font-size:18px;
	padding:10px;
}

.input{
	display:block;
	border:2px solid#ccc;
	width:95%;
	padding:10px;
	margin:10px auto;
	border-radius:5px;	
}

.submit{
	float:right;
	background:#555;
	padding:10px 15px;
	color:#fff;
	border-radius:5px;
	margin-right:150px;
	border:none;

}
.submit:hover{
	opacity:.7;
}


.error {
	background: #F2DEDE;
	color:#A94442;
	padding:10px;
	width:95%;
	border-radius:5px;
	margin:20px auto;
}

.abc {
	
	padding:10px 15px;	
	color:#fff;
	border-radius:5px;
	margin-right:10px;
	border:none;
	text-decoration: none;

}
.abc:hover{
	opacity:.7;
}
.abcd {
	padding:10px 15px;	
	color:#fff;
	border-radius:5px;
	
	margin-left: 750px;
	border:none;
	text-decoration: none;

}
.abcd:hover{
	opacity:.7;
}

.dropbtn {
	
	color:#fff;
	padding:10px 15px;
	font-size: 16px;
	border: none;
	border-radius:5px;
	margin-right:10px;	
	text-decoration: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: green;
  min-width: 160px;
  
  z-index: 1;
}

.dropdown-content a {
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color:#fff;
}

.dropdown-content a:hover {}

.dropdown:hover .dropdown-content {
  display: block;
}

.view
{
	text-align:center;
	margin-left: 350px;
}

.view1 
{
	float:right;
	margin-right:80px;
	
	font-weight:bold;
	
}

.navbar {
	display:inline;
	width: 100%;
	height:50px;
	background-color: green;
	margin-bottom:10px;
	float:left;
	padding:15px;
	

}

.table, th, td {
  border: 1px solid black;
   padding: 10px;
}



